/*-------- CSS stylings <img src="img/bodoni.jpg" alt="bodoni" width="300px"class="center"><img src="img/baskerville.jpg" alt="baskerville" width="300px"class="center">  <img src="img/caslon.png" alt="calson" width="300px"class="center"><img src="img/claude-garamond.jpg" alt="garamond" width="300px"class="center"><img src="img/jenson.png" alt="jenson" width="300px"class="center">---------*/

<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@300&display=swap');
</style>

  *{
    padding-top: 0.5em;
    padding-bottom: 0.5;
    margin: 0.5;
    font-size: 100%;
    line-height: 1em;
  }

  /*--------- Main Styling --------*/

  body{
    width: 80%;
    max-width: 700px;
    margin: auto;
    background: #fcf9f5;
    color: #333;
  }

 /*--------- Typography--------*/

 h1 {
   font-weight: normal;
   font-weight: 700;
   font-size: 3.827em;
   color: #153170;
   text-align: center;
   margin-top: 1em;
   margin-bottom: 0.1em;
   font-family: 'Oswald';
 }

 h2{
   font-weight: normal;
   font-weight: 700;
   font-size: 2em;
   color: #153170;
   margin-top: 1em;
   margin-bottom: 0.1em;
   text-align: center;
   font-family:'Oswald';
 }

 h3{
   font-weight: normal;
   color: #153170;
   text-align: center;
   text-decoration: underline;
   font-weight: 700;
   font-family: 'Oswald', sans-serif;
   font-size: 1.5em;
   margin-bottom: 1.5em;
 }

p{
  margin-bottom: 1.5em;
  line-height: 1.4;
  font-weight: 400;
  font-family:'Roboto', sans-serif;
}

 p, blockquote {
      font-weight: 100;
      line-height: 1.2;
 }

b, strong{ font-weight: 600;}

 blockquote {
    font-size: 1.3em;
    hanging-punctuation: first;
    text-indent: -0.44em;
    color:  #611748;
    font-weight: 600;
  }

 blockquote cite {
   font-size: 0.75em;
   color: #333;

 }
 header h2{
   font style: italic;
   margin-top: 0.5;
   margin-bottom: 0.5em;
 }

 header p{
   font-size: 1.3em;
 }

 /*------ css clases -----*/
 .center {
   display: block;
   padding-top: 0.5em;
   margin-left: auto;
   margin-right: auto;
   width: 50%
}

 /*------ Styling Links -----*/

 a {
   color: #e63e76;
   font-weight: 600;
   font-family:'Roboto', sans-serif;
 }

a:hover {
  color:#8f2f75;
  border-bottom: 1px dotted;
}

  /*------ Navigation -----*/
  nav{
    position: fixed;
    top: 0em;
    left: 0em;
    margin: 0em;
    width: 100%;
    background-color: #611748;
    padding =: 1.5em 1;
    font-size: 1em;
    box-shadow: 0 0 10px 0 orange;
  }

  nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  nav ul li{
    display: inline;
    margin: 20px;
    background: none;
  }

  nav a: link{
    color:#ffef14;
  }

  nav a:visited {
      color: #ffff;
}

  nav a:hover {
     border-bottom: none;
     color: #ffaf03;
     transition: all 0.25s ease-in-out;

     }

     table{
       margin: auto;
       display: table;
       border-collapse: collapse;
       border-spacing: 2px;
       margin-bottom: 2em;
       width: 100%;
       font-family: 'Oswald';
     }

     caption{
       margin-top: 1em;
       margin-bottom: 0.8em;
       text-transform: uppercase;
       font-weight: bold;
       background:#15248f;
       color: #ffff;
     }

     th{
       margin-top: 3em;
       color: #15248f;
       text-transform: uppercase;
       font-weight: bolder;
       text-align: center;
       text-decoration:underline;
     }

     td{
       background:#ffff;
       color: #000000;
     }
  /*------ Footer ------*/

 footer {
   text-align: center;
   font-size: 0.708;
   margin: 5em 0 8em 0
 }
